

html,
body {
    margin: 0;
    padding: 0;
    font-family: Monda, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root {
    --spacer-sm: .5rem;
    --spacer-md: 1rem;
    --spacer-lg: 2rem;
}