body {
    background-image: url(florida-beach-sunset-1920x1080.jpg);
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    height: 100vh;
}

.container {
    width: 80%;
    height: 40px;
    position: relative;
    top: 40px;
    margin: 0 auto;

    /**FIXME: The following is temporary to allow all content to display
        TODO: Make it so content slides to left away from the navbar when it is opened.
        (See Kiyap transitions)
    */
    float: left;
}

span {
    font-size: 65px;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}